<div class="declined-invitation flex justify-content-center align-items-center flex-column pb-8">
  <img src="assets/images/not-found-gif.gif" alt="not found gif">
  <p class="text-center text-6xl font-medium">{{"DECLINED-INVITATION.EXPIRED-INVITATION-PAGE.TITLE" |
    translate}}
  </p>
  <p class="text-center text-6xl font-medium">{{"DECLINED-INVITATION.EXPIRED-INVITATION-PAGE.SUBTITLE"
    |
    translate}}</p>
  <p class="expired-invitation-description mt-4 text-center">{{"DECLINED-INVITATION.EXPIRED-INVITATION-PAGE.DESCRIPTION"
    |
    translate}}
  </p>
</div>