@font-face {
  font-family: "STC Forward";
  src: url("./../../fonts/STC\ Forward\ Regular.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "STC Forward";
  src: url("./../../fonts/STC\ Forward\ Medium.woff") format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "STC Forward";
  src: url("./../../fonts/STC\ Forward\ Bold.woff") format("woff");
  font-weight: 700;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("./../../fonts/SF-Pro-Display-MediumItalic.woff") format("woff");
  font-weight: 500;
}
