<aside class="sidebar h-full">
  <ul class="text-white">
    <li routerLink="home" class="py-2 cursor-pointer"><a href=""></a>{{"ASIDE.HOME" | translate}}</li>
    <li><a routerLink="not-found" class="py-2 cursor-pointer">{{"ASIDE.DISCOVER" | translate}}</a></li>
    <li><a routerLink="not-found" class="py-2 cursor-pointer">{{"ASIDE.COMMUNITY" | translate}}</a></li>
    <li><a routerLink="not-found" class="py-2 cursor-pointer">{{"ASIDE.PRODUCTS" | translate}}</a></li>
    <li><a routerLink="not-found" class="py-2 cursor-pointer">{{"ASIDE.FAQs" | translate}}</a></li>
    <li routerLink="leader-board" class="py-2 cursor-pointer">{{"ASIDE.LEADERBOARD" | translate}}</li>
  </ul>
</aside>