// Colors
$purple-color: #4f008c;
$purple-dark-color: #420374;
$coral-color: #ff375e;
$coral-hovered-color: #e3244a;
$white-color: #ffff;
$grey-color: #d8d8d833;
$grey-dark-color: #8e9aa0;
$grey-dark-opacity-20-color: #8e9aa033;
$grey-medium-color: #f3f3f1;
$oasis-light-color: #00c48c;
$black-color: #000;
$light-black: #1d252d;
$off-white-color: #e8e8e8;
$sunset-orange-color: #ff6a39;

// Font: Font-Family
$font-family-1: "STC Forward";
$font-family-2: "SF Pro Display";

// Font: Font-Size
$lg-fw: 1.875rem;

// Base Spacing Variables
$spacing-xxxs-4: 0.25rem;
$spacing-xxxs-5: 0.3125rem;
$spacing-xxxs: 0.375rem;
$spacing-xxs: 0.5rem;
$spacing-xs: 0.625rem; // Extra Small
$spacing-xs-plus: 0.75rem; // Extra Small
$spacing-xs-extra: 0.8125rem; // Extra Small
$spacing-xs-14: 0.875rem;
$spacing-sm: 1rem; // Small
$spacing-sm-18: 1.125rem; // Small
$spacing-sm-20: 1.25rem; // Small
$spacing-sm-plus: 1.625rem;
$spacing-sm-extra: 1.75rem;
$spacing-md: 1.875rem; // Medium
$spacing-md-32: 2rem;
$spacing-md-plus: 2.25rem; // Medium Plus
$spacing-md-38: 2.375rem; // Medium Plus
$spacing-md-extra: 2.5rem;
$spacing-lg: 2.6875rem; // Large
$spacing-lg-46: 2.875rem;
$spacing-lg-plus: 3.125rem; // Large Plus
$spacing-lg-extra: 3.4375rem; // Large Plus
$spacing-lg-60: 3.75rem; // Large Plus
$spacing-xl: 4.375rem; // Extra Large
$spacing-xxl: 4.875rem; // Double Extra Large
$spacing-xxxl: 10.625rem; // Triple Extra Large
$spacing-huge: 12.5rem; // Huge

// Fonts: Font-weight
$fw-bold: 900;
$fw-md: 500;

// Custom: Line Height
$md-line-height: 30.22px;

// Border
$card-border: 1px solid $off-white-color;
$menu-border: 91px;
$lg-border: 40px 0;

// Border-radius
$radius-xs: 4px;
$radius-md: 13px;
$radius-xxxl: 100px;

// Avatar
$icon-table-dimensions: 55px;
$avatar-account-dimensions: 97px;
$badge-congrats-dimensions: 89px;
$icon-gift-dimensions: 146px;
$avatar-question-dimensions: 52px;

// Table
$table-padding: 13px 0 12px 8px;
$table-box-shadow: 0px 5px 20px -10px #1d252d4d;
$card-padding: 26px 14px;
$share-answer-padding: 13px 20px;
